@import url("http://fonts.cdnfonts.com/css/liberation-sans");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Liberation sans";
    font-weight: 300;
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    min-height: 100vh;

    background: rgb(246, 248, 250);
}

a {
    text-decoration: none;
}

.container {
    padding: 0 2.4rem;

    display: flex;

    flex-direction: column;

    height: 100vh;
}

.bg-dark {
    background: #24292e;
}

.link {
    color: black;
    font-size: 1.7rem;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    line-height: 2.4rem;
    font-size: 1.6rem;
    border-radius: 0.6rem;

    padding: 1.2rem 2.4rem;
    background: transparent;
    border: 0;
    box-shadow: inset 0 0 0 1px #d1d5da;
}


.btn--small {
    line-height: 2.1rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.4rem;
}

.btn--primary {
    background: rgb(0, 102, 255);
    box-shadow: inset 0 0 0 1px rgb(0, 102, 255);
    color: white;
}

.btn:hover {
    cursor: pointer;
    background: #ffffff;
}

.btn--primary:hover {
    cursor: pointer;
    background: rgb(0, 90, 255);
}

.btn:disabled {
    cursor: default;
    background: rgb(246, 248, 250);
}


/* Header */
.header {
    width: 100%;

    padding: 1.6rem 0;

    display: flex;
    justify-content: space-between;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    line-height: 3rem;
}

.version {
    margin-left: 0.8rem;
}

.mode {
    margin-left: 1.6rem;
    border: 0;
    outline: 0;
    background: transparent;
}

.mode {
    cursor: pointer;
}
/* Intro */

.intro {
    display: grid;
    place-items: center;
}
.intro__content {
    padding: 6.4rem;

    text-align: center;
}

.intro__content .title {
    line-height: 4rem;
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
}

.intro__content .controls .btn:first-child {
    margin-right: 1.6rem;
}

/* Main */

.main {
    margin-top: 2rem;

    display: grid;

    grid-template-columns: 1fr 34rem;

    grid-column-gap: 2.4rem;
}

.search {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.6rem;
}

.input {
    border: 0;
    width: 100%;
    border-radius: 0.6rem;
    outline: 0;
    font-size: 1.6rem;
    padding: 1.6rem 1.6rem 1.6rem calc(1.6rem + 2.4rem + 1.6rem);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.input:focus {
    box-shadow: 0 0 0.01rem 0.3rem rgb(0, 102, 255);
}

.input--compact {
    padding: 0.8rem 1.2rem;
    box-shadow: none;
    line-height: 2.4rem;
    border: 0.1rem solid #d1d5da;
}

.main__customize {
    display: grid;
    grid-row-gap: 1.6rem;
}

.main__customize .main__header {
    display: flex;
    justify-content: space-between;
}

.main__header .title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
}

.setting {
    display: flex;
    flex-direction: column;
}

.setting__desc {
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-bottom: 0.4rem;
}

.controller {
    position: relative;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 4.8rem;
    grid-column-gap: 1.6rem;
}

.controller__preview {
    font-size: 1.6rem;
    line-height: 2.1rem;
}

.color__preview {
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 0.6rem;
}

/* CSS tricks */
input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
    border: 1px solid #000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
    border: 1px solid #000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.4rem;
    cursor: pointer;
    background: #d1d5da;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 0.4rem;
    cursor: pointer;
    background: #d1d5da;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 0.4rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #2a6495;
    border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #d1d5da;
}
input[type="range"]::-ms-fill-upper {
    background: #d1d5da;
    border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #367ebd;
}

.grid {
    min-height: 2rem;
}

footer {
    position: relative;
    padding-top: 2rem;
}

footer:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: silver;
}

.devinfo {
    font-size: 1.4rem;
}
